@import url('https://fonts.cdnfonts.com/css/seven-segment');

*:not(#joinLink, #display)::selection{
    user-select: none;
}
#joinLink::selection, #display::selection{
    background-color: #404040;
}

body{
    background: #212121;
}

p, h1, h2, h3{
    color: #b1b1b1;
    cursor:default;
    caret-color: transparent;
}

h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

button{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 60px;
    height: 45px;
    border: 1px solid black;
    border-radius: 3px;
    outline: none;
    margin-bottom: 4px;
    background: #b1b1b1;
    border: 0;
}
.commaBtn{
    font-size: 20px;
    font-weight: bold;
}
.wider{
    width: 81.333px;
}
.wide{
    width: 124px;
}

input{
    width: 245px;
    height: 40px;
    margin-bottom: 4px;
    border: 2px solid black;
    border-radius: 5px;
    font-family: 'Seven Segment', Arial;
    font-weight: 600;
    font-size: 24px;
    text-align: right;
    background: #b1b1b1;
    border-color: #b1b1b1;
    outline: none;
    caret-color: transparent;
}

input:hover{
    cursor: default;
}

.description{
    color: black;
    font-family: 'Seven Segment', Arial;
    font-size: 12px;
    position: relative;
    top: 30px;
    left: 2px;
    margin: 0;
    padding: 0;
    height: 0;
}

#main{
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translateX(-50%);
    width: 400px;
    height: 80%;
    border: 5px solid #292929;
    background: #292929;
    border-radius: 35px;
}

#calculator{
    background: #727272;
    padding: 10px;
    border: 5px solid #727272;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#buttons:hover, #buttons button:hover{
    cursor:pointer;
}

#joinLink:hover, #display:hover{
    cursor: text;
}

#joinGuide{
    text-align: center;
    position: absolute;
    left: 50%;
    bottom: 1%;
    transform: translate(-50%, -50%);
    width: 100%;
}
#joinGuide h3{
    font-weight: bold;
    font-size: 15px;
    margin: 5px;
}
#joinGuide p{
    font-size: 13px;
    margin: 2px;
}
#joinLink{
    font-weight: 600;
}

